/* SPAGETTi */
.spagetti {
    position: relative;
    height: 90vw;
    left: 2em;
}

/* pasta */
.spagetti > img:first-of-type {
    width: 70%;
    position: absolute;
}

/* pesto */
.spagetti > img:nth-of-type(2) {
    width: 35%;
    position: absolute;
    left: -3vw;
    top: 55vw;
}

/* leaf */
.spagetti > img:nth-of-type(3) {
    width: 70%;
    position: absolute;
    left: 25vw;
    top: 50vw;
}