html,body {
    font-family: monospace;
    height: 100%;
    margin: 0px;
    /* overflow: hidden; */
    scroll-behavior: smooth;    
}
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 0.5fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr auto;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2em;
    margin-right: 2em;
    min-height: 100vh;
}
.container1 {
    display: grid;
    grid-column: 1 / 5;
    background-image: url('./img/Group1/Header\ Background.png');
    background-size: cover;
    color: white;
}
nav {
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    margin-top: 3em;
    border: 1px solid red;
 }
 ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
}
.sectionLeft1 {
    grid-column: 1 / 3;
    margin-top: 4em;
    margin-left:10em;
}
.sectionRight2 {
    display: grid;
    grid-column: 3 / 5;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(3, 1fr);
}
.img1A {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}
.img1B {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.img1C {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.footer {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
}