.btn {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    font-size: large;
    border: none;
}
.light {

}
.btn.light:hover {
    color: greenyellow;
    cursor: pointer;
}

.dark {
    color: white;
    background-color: #27292C;
}

.btn.dark:hover {
    color: greenyellow;
    cursor: pointer;
}

.bg {
    background-image: url('./img/Group1/Header\ Background.png');
    background-size: cover;
    position: relative;
    padding-bottom: 25em;
}
.bg-color {
    background-color: #27292C;
}

.black-text {
    color: #000;
}
.white-text {
    color: #fff;
}

/* CONTAINER 1 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 4em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/* LOGO */
.pos-b > img {
    width: 30%;
}

/* SPAGETTi */
.spagetti {
    position: relative;
    left: 2em;
}

/* pasta */
.spagetti > img:first-of-type {
    width: 70%;
    position: absolute;
    top: 0;
}

/* pesto */
.spagetti > img:nth-of-type(2) {
    width: 35%;
    position: absolute;
    left: 0em;
    top: 17em;
}

/* leaf */
.spagetti > img:nth-of-type(3) {
    width: 70%;
    position: absolute;
    left: 9em;
    top: 14em;
}

/* BIG SPAGETTI */
.big-spagetti > img {
    width: 100%;
}

/* PIZZA & SLICE OF PIZZA */
.container:nth-of-type(6) {
    /* position: relative; */
}
.container:nth-of-type(6) > section:nth-of-type(1) {
    /* position: absolute; */
    width: 10%;
}
.container:nth-of-type(6) > section:nth-of-type(3) {
    /* position: absolute; */
    width: 10%;
}

/* search bar */
.text-form {
    display: flex;
    place-self: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2em;
}
.text-input {
    all: unset;
    font: 16px system-ui;
    color: black;
    padding-left: 1em;
}
::placeholder {
    color: #fff;
    opacity: 0.7; 
}
.btn-search {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-top: 3px;
    margin-right: 10px;
}
i:hover {
    color: greenyellow;
    cursor: pointer;
}

/* FOOTER */
.icons {
    display: flex;
    justify-content: space-between;
}
.icons > img {
    filter: invert(100%);
    width: 20%;
    margin: 20px;
}
.footer-ul {
    display: grid;
    gap: 1em;
}

@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2em;
    }
}
@media (min-width: 1200px) {
    .container {
        display: grid;
        padding: 0 10em;
    }

}
